@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@600&family=Space+Mono&display=swap");

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.title,
button {
  text-transform: uppercase;
}

.title {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  margin-left: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main img {
  width: 286px;
}

.content {
  font-family: "Space Mono", monospace;
  margin-left: 1rem;
  margin-right: 1rem;
}

.content h2 {
  color: #333333;
  font-size: 42px;
  line-height: 71px;
  letter-spacing: -0.035em;
  margin-bottom: 0;
}

.content p {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.content button {
  background-color: #333333;
  color: white;
  padding: 20px 40px;
  margin-top: 1rem;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: -0.035em;
  border: none;
}

footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  align-self: end;
}

@media screen and (min-width: 768px) {
  .main img {
    width: 50%;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    margin-left: 2rem;
  }

  .main {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .main img {
    width: 45%;
    height: auto;
  }

  .content {
    width: 45%;
  }

  .content h2 {
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
  }

  .content p {
    width: 55%;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
  }

  .content button {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
  }

  .content button:hover {
    opacity: 0.9;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    margin-left: 3rem;
  }

  .main {
    justify-content: space-evenly;
    height: 80%;
  }

  .main img {
    width: 30%;
  }

  .content {
    width: 50%;
  }

  .content button {
    cursor: pointer;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    margin-left: 4rem;
  }

  .main img {
    width: 25%;
  }

  .content h2 {
    font-size: 64px;
    margin-bottom: revert;
  }

  .content p {
    font-size: 24px;
  }

  .content button {
    padding: 24px 43px;
  }

  footer {
    font-size: 14px;
  }
}
